/*
 * Application level styles
 * (things that dont make sense in a toolkit :)
 * copyright @colossal 2015
 */

/* docs overrides */
button#split-button.btn.btn-primary-outline.p-t-0.p-b-0{
	color:#222;
	font-weight:100;
}
button#split-button.btn.btn-primary-outline.p-t-0.p-b-0:hover{
	background-color:#fff;
	cursor:initial;
}
input.input-lg{
	background-color:#fafafa;
}
tr.inactive{
	background-color:#fafafa;
	opacity:0.3;
}
tr.inactive:hover{
	background-color:#fafafa;
	opacity:1;
}
tr.inactive td h5{
	color:#888;
}
.highlight {
  background-color: #fff;
  border-color: #d3e0e9;
}
ul.dropdown-menu{
	/*width:94%;*/
}
.modal-content ul.nav-tabs li{
	font-size:2em;
}
.modal-content ul.nav-tabs li a{
	
}
.modal-content ul.nav-tabs {
	
}
.modal-header{
	border-bottom:none !important;
}
h3 span{
	font-weight:100;
}
select.form-control{
	height: 26px;
	
	color: #333;
	font-weight: 400;
	border: thin solid #00A993;
	
	top: 6px;
	position: relative
}
a {
	cursor:pointer;
}
p.open{
	max-height:300px;
		overflow:hidden;
	transition: max-height 0.350s;
}


p.closed{
	max-height:50px;
	overflow:hidden;
	transition: max-height 0.350s;
}
ul.areas li{
	font-size: 1.1em;
	list-style: none;
	font-weight: bold;
}
ul.areas{}
/* general overrides */
.list-group-item .glyphicon {
  line-height: 1.4;
}
.modal-header .close {
  margin-top: 4px;
}
span.icon , a.icon{
	font-size: 1.3em !important;
}
td div.btn-group.dropdown{
	margin-top:7px;
}
td a.btn-xs {
	
	top:16px;
	position: relative;
}

/* navbar */
.app-navbar {
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
.app-navbar .form-control {
  box-shadow: none;
}
.app-navbar .navbar-brand img {
  width: 85px;
}
.app-navbar .navbar-collapse {
  max-height: inherit;
}
.app-navbar .navbar-collapse:after {
  height: 100vh;
}
.app-navbar .form-control {
  border-color: #1C73A5;
}
.app-notifications {
  margin-left: -12px;
  padding-bottom: 10px !important;
}
.app-notifications .icon:before {
  font-size: 20px;
}
@media (min-width: 768px) {
  .app-navbar .navbar-collapse:after {
    height: auto;
  }
}
@media (max-width: 768px) {
  .app-search {
    margin-top: -1px;
  }
}


/* misc */
.app-login-form {
  max-width: 280px;
  margin-top: -60px;
}
.app-new-msg {
  margin-right: 10px;
}
.app-brand {
  width: 40%;
  display: inline-block;
}
.app-brand img {
  width: 100%;
}


/* ------------------------------------------------------- 
	Title: newVideoModal
	Author: Marcin K.
	Date: 2016-05-06
--------------------------------------------------------*/
.new-video-modal{
	display: inline-block;
	padding: 20px 50px;
	width: 100%;
}
.new-video-modal .col-md-6{
	padding: 0;
}
.new-video-modal fieldset label{
	float: left;
}
.new-video-modal .areas{
	float: left;
	width: 100%;
	text-align: left;
}
.new-video-modal .therapy-areas{
	padding-left: 30px;
}
.new-video-modal .therapy-areas span.select-areas{
	float: left;
	margin-bottom: 10px;
}
.new-video-modal .instruction {
	padding: 0;
}
.new-video-modal .instruction label{
	float: left;
}
.new-video-modal .instruction .instruction-content{
	width: 100%;
	min-height: 150px;
	float: left;
	margin-top: 10px;
}
.new-video-modal .instruction .instruction-content ul li{
	text-align: left;
}
.new-video-modal .vimeo-video{
	display: inline-block;
	width: 100%;
	margin-top: 10px;
}
.new-video-modal .vimeo-video .col-md-6{
	padding: 0 10px;
}
.new-video-modal .vimeo-video .vimeoId span{
	float: left;
	margin-bottom: 10px;
}
.new-video-modal .vimeo-video .upload-vimeo span{
	margin-bottom: 10px;
	display: inline-block;
}
.new-video-modal .vimeo-video a{
	width: 100%;
	float: left;
}
.new-video-modal .vimeo-video a img{
	width: 55px;
}
.new-video-modal .areas input{
	margin-right: 10px;
}