



	  
	  <div class="row">
    <div class="col-md-3">

      <div class="list-group m-b-md">
        <a href="#/main" class="list-group-item ">
          <span class="icon icon-chevron-thin-right pull-right"></span>
          prescriptions
        </a>
        <a href="#/protocols" class="list-group-item ">
          <span class="icon icon-chevron-thin-right pull-right"></span>
          protocols
        </a>
        <a ui-sref="videos" class="list-group-item" ng-class="{ active: $state.includes('videos') }">
          <span class="icon icon-chevron-thin-right pull-right"></span>
          videos
        </a>
        <a ui-sref="tips" class="list-group-item" ng-class="{ active: $state.includes('tips') }" >
          <span class="icon icon-chevron-thin-right pull-right"></span>
          tips
        </a>
        <a href="#/links" class="list-group-item active">
          <span class="icon icon-chevron-thin-right pull-right"></span>
          links
        </a>
      </div>
      
    </div>

   
	    <div class="col-md6 col-md-6" style="display: block;">
			
	           <div class="page-header m-t-0">
	             <h1>
	               Links
	             </h1>
	             
	           </div>
		<div id="wrapper">
	           
	           <div class="page-header" ng-repeat="link in links">
				 
	            
	             <h3 class="pull-left">
	               {{link['title']}} - <small>{{link['url']}}</small>
	             </h3>
				  <button  class="btn btn-xs btn-primary pull-right m-r" ng-click="deleteLink(link['id'],$index)">delete</button> 
				  <div class="clearfix"></div>
	           </div>
			 
		</div>
		</div>
     
    <div class="col-md-3">
		<div class="panel panel-default m-b-md hidden-xs">
			<div class="panel-body">
				<a ng-click="open('lg')" class="btn btn-primary m-t-0 w-full">Add Link</a>
				
				
			</div>
		</div>
		
        <div class="panel panel-default">
          <div class="panel-body">
          © 2015 ividex corp.
          </div>
      </div>
</div>
</div>
