  <div class="container-content-middle">
    <form role="form" class="m-x-auto text-center app-login-form">

      <span class="app-brand m-b-lg">
       
      </span>

      <div class="form-group">
        <input class="form-control" placeholder="Username">
      </div>

      <div class="form-group m-b-md">
        <input type="password" class="form-control" placeholder="Password">
      </div>

      <div class="m-b-lg">
        <a class="btn btn-primary" href="#/main">Log In</a>
        <button class="btn btn-default">Sign up</button>
      </div>

      <footer class="screen-login">
        <a href="#" class="text-muted">Forgot password</a>
      </footer>
    </form>
  </div>