  <div class="row">
    <div class="col-md-3">

      <div class="list-group m-b-md">
        <a ui-sref="main" class="list-group-item " ng-class="{ active: $state.includes('main') }">
          <span class="icon icon-chevron-thin-right pull-right"></span>
          prescriptions
        </a>
        <a href="#/protocols" class="list-group-item">
          <span class="icon icon-chevron-thin-right pull-right"></span>
          protocols
        </a>
        <a href="#/videos" class="list-group-item">
          <span class="icon icon-chevron-thin-right pull-right"></span>
          videos
        </a>
        <a href="#/tips" class="list-group-item">
          <span class="icon icon-chevron-thin-right pull-right"></span>
          tips
        </a>
        <a href="#/links" class="list-group-item">
          <span class="icon icon-chevron-thin-right pull-right"></span>
          links
        </a>
      </div>

      
    </div>
	
	
    <div class="col-md-6">
		<form class="p-b">
			<input  ng-model="customSelected"
    uib-typeahead="user.email as user.email for user in Users | filter:$viewValue | limitTo:30"  type="text" class="input-lg form-control"
	typeahead-template-url="views/typeAhead.html"
	typeahead-input-formatter="formatLabel($model)"
	 placeholder="search patient" >
		</form>
	    	
    </div>
    <div class="col-md-3">
          <div class="panel panel-default">
            <div class="panel-body">
            <a class="btn btn-primary w-full" href="#">New Patient</a>
            </div>
        </div>
      <div class="panel panel-default m-b-md hidden-xs">
          
        <div class="panel-body">
        <h5 class="m-t-0">Active Users</h5>
        <ul class="media-list media-list-stream">
          <li class="media m-b">
          
             
          
            <div class="media-body">
				 <span class="icon icon-user lg"></span>
              <strong>{{Users[0]['firstName']}} {{Users[0]['lastName']}}</strong> 
              <div class="media-body-actions">
                <button class="btn btn-primary-outline btn-sm" ng-click="getPatient(Users[0])">
                 Open</button>
              </div>
            </div>
          </li>
         <li class="media m-b">
         
            
         
           <div class="media-body">
			 <span class="icon icon-user lg"></span>
             <strong>{{Users[1]['firstName']}} {{Users[1]['lastName']}}</strong> 
             <div class="media-body-actions">
               <a class="btn btn-primary-outline btn-sm" ng-click="getPatient(Users[1])">
                Open</a>
             </div>
           </div>
         </li>
        </ul>
        </div>
       
      </div>


        <div class="panel panel-default">
          <div class="panel-body">
          © 2015 ividex corp.
          </div>
      </div>
    </div>
  </div>