



	  
	  <div class="row">
    <div class="col-md-3">

      <div class="list-group m-b-md">
        <a ui-sref="main" class="list-group-item " ng-class="{ active: $state.includes('patient') }">
          <span class="icon icon-chevron-thin-right pull-right"></span>
          prescriptions
        </a>
        <a ui-sref="protocols" class="list-group-item" ng-class="{ active: $state.includes('protocols') }">
          <span class="icon icon-chevron-thin-right pull-right"></span>
          protocols
        </a>
        <a ui-sref="videos" class="list-group-item" ng-class="{ active: $state.includes('videos') }">
          <span class="icon icon-chevron-thin-right pull-right"></span>
          videos
        </a>
        <a ui-sref="tips" class="list-group-item" ng-class="{ active: $state.includes('tips') }" >
          <span class="icon icon-chevron-thin-right pull-right"></span>
          tips
        </a>
        <a ui-sref="links" class="list-group-item" ng-class="{ active: $state.includes('links') }" >
          <span class="icon icon-chevron-thin-right pull-right"></span>
          links
        </a>
      </div>
      
    </div>

   
	    <div class="col-md6 col-md-6" style="display: block;">
			
	           <div class="page-header m-t-0">
	             <h1>
	               {{currentPatient['firstName']}} {{currentPatient['lastName']}}
	             </h1>
	             <span class="label label-primary">{{currentPatient['email']}}</span>
				 <div class="pull-right">
				 Total logins <span class="badge ">23</span><br/>
				 <span >Last week </span><span class="badge ">5</span>
				 </div>
				 <div class="clearfix"></div>
	           </div>
		<div id="wrapper" ng-repeat="prescription in currentPatient.prescriptions">
	           <div class="well">
	             <div class="pull-right">
					 <h3 class="m-t-0"><span class="rxDate">{{getDate(prescription['createdAt'])}}</span></h3>
					  <a class="btn btn-sm btn-default-outline m-t-0 ">Archive</a>
					 <a class="btn btn-sm btn-primary-outline m-t-0 ">Save as protocol</a>
					
				 </div>
	             <h3>
	               {{prescription['injury']}}
	             </h3>
	             <div>
	               <span class="label label-default">surgery date</span>
	                {{getDate(prescription['surgeryDate'])}}
	             </div>
	             <hr>
	             <p>
	                {{prescription['text']}}
	             </p>
	           </div>
	           <div class="page-header">
				 
	             <button type="submit" class="btn btn-primary-outline   pull-right" ng-click="open('lg')">
	            <span class="icon icon-plus"></span>
	             </button>
	             <h3>
	               Assigned Exercises
	             </h3>
	           </div>
			   <table class="table">
			            <tbody>
							<!-- class="inactive" -->
			              <tr ng-repeat="exercise in prescription['exercises']" >
			                <td>
			                  <h5>
			                    {{exercise['name']}}
			                  </h5>
			                </td>
			                <td>
								<div class="btn-group" uib-dropdown>
									<button id="split-button" type="button" class="btn btn-primary-outline p-t-0 p-b-0">
										{{exercise['holds']}}
									</button><button type="button" class="btn btn-primary-outline p-t-0 p-b-0" uib-dropdown-toggle>
										<span class="caret"></span>
										<span class="sr-only">{{exercise['holds']}}</span>
									</button>
									<ul class="uib-dropdown-menu" role="menu" aria-labelledby="split-button">
										<li role="menuitem"><a href="#">0</a></li>
										
										<li role="menuitem"><a href="#">3</a></li>
										
										<li role="menuitem"><a href="#">5</a></li>
										<li role="menuitem"><a href="#">10</a></li>
										
									</ul>
								</div>
			                </td>
			                <td>
							<div class="btn-group" uib-dropdown>
								<button id="split-button" type="button" class="btn btn-primary-outline p-t-0 p-b-0">
									{{exercise['reps']}}
								</button><button type="button" class="btn btn-primary-outline p-t-0 p-b-0" uib-dropdown-toggle>
									<span class="caret"></span>
									<span class="sr-only">{{exercise['reps']}}</span>
								</button>
								<ul class="uib-dropdown-menu" role="menu" aria-labelledby="split-button">
									<li role="menuitem"><a href="#">10</a></li>
									<li role="menuitem"><a href="#">15</a></li>
									<li role="menuitem"><a href="#">20</a></li>
									
								</ul>
							</div>
			                </td>
			                <td>
							<div class="btn-group" uib-dropdown>
								<button id="split-button" type="button" class="btn btn-primary-outline p-t-0 p-b-0">
									{{exercise['weeks']}}
								</button><button type="button" class="btn btn-primary-outline p-t-0 p-b-0" uib-dropdown-toggle>
									<span class="caret"></span>
									<span class="sr-only">{{exercise['weeks']}}</span>
								</button>
								<ul class="uib-dropdown-menu" role="menu" aria-labelledby="split-button">
									
									<li role="menuitem"><a href="#">2</a></li>
									
									<li role="menuitem"><a href="#">4</a></li>
									
									<li role="menuitem"><a href="#">6</a></li>
									
									<li role="menuitem"><a href="#">8</a></li>
									<li role="menuitem"><a href="#">forever</a></li>
								</ul>
							</div>
			                </td>
			                <td class="p-t-0">
			                 
			                    <a class=" btn btn-danger-outline pull-right btn-xs"><span>delete</span></a>
			                  
			                </td>
			              </tr>
			             
			            </tbody>
			            <thead>
			              <tr>
			                <th>
			                  <br>
			                </th>
			                <th>
			                  Holds
			                </th>
			                <th>
			                  Reps
			                </th>
			                <th>
			                  Weeks
			                </th>
			                <th>
			                  <br>
			                </th>
			              </tr>
			            </thead>
				</table>
		</div>
		</div>
     
    <div class="col-md-3">
		<div class="panel panel-default m-b-md hidden-xs">
			<div class="panel-body">
				<a class="btn btn-primary m-t-0 w-full">New Prescription</a>
				
				
			</div>
		</div>
		<div class="panel panel-default m-b-md hidden-xs">
        <div class="panel-body">
        <h5 class="m-t-0">Patient History</h5>
        <ul class="media-list media-list-stream">
          <li class="media m-b">
            <div class="media-body">
				<address>
					<strong>hip replacement</strong> <br/>
					<span class="icon icon-calendar lg"></span> 3/15/2014<br/>
            	</address>
              <div class="media-body-actions">
                <button class="btn btn-primary-outline btn-sm">
                 Open</button>
              </div>
            </div>
          </li>
          
        </ul>
        </div>
        
      </div>
        <div class="panel panel-default">
          <div class="panel-body">
          © 2015 ividex corp.
          </div>
      </div>
</div>
</div>
