



	  
	  <div class="row">
    <div class="col-md-3">

      <div class="list-group m-b-md">
        <a ui-sref="main" class="list-group-item " ng-class="{ active: $state.includes('patient') }">
          <span class="icon icon-chevron-thin-right pull-right"></span>
          prescriptions
        </a>
        <a ui-sref="protocols" class="list-group-item" ng-class="{ active: $state.includes('protocols') }">
          <span class="icon icon-chevron-thin-right pull-right"></span>
          protocols
        </a>
        <a ui-sref="videos" class="list-group-item" ng-class="{ active: $state.includes('videos') }">
          <span class="icon icon-chevron-thin-right pull-right"></span>
          videos
        </a>
        <a ui-sref="tips" class="list-group-item" ng-class="{ active: $state.includes('tips') }" >
          <span class="icon icon-chevron-thin-right pull-right"></span>
          tips
        </a>
        <a ui-sref="links" class="list-group-item" ng-class="{ active: $state.includes('links') }" >
          <span class="icon icon-chevron-thin-right pull-right"></span>
          links
        </a>
      </div>
      
    </div>

   
	    <div class="col-md6 col-md-6" style="display: block;">
			
	           <div class="page-header m-t-0">
	             <h1>
	               {{currentPatient['firstName']}} {{currentPatient['lastName']}}
	             </h1>
	             <span class="label"><a href="mailto:{{currentPatient['email']}}">{{currentPatient['email']}}</a></span>
				 &nbsp;<span ng-click="deleteAuth(currentPatient['id'])" class="btn btn-xs btn-danger-outline">delete</span>
				 <div  class="pull-right" ng-show="auth.loaded">
				 Last week <span class="badge ">{{currentPatient.lastWeekAttempts.length}}</span><br/>
				 <span >Total logins </span><span class="badge ">{{currentPatient.attempts.length}}</span>
				 </div>
				 <div class="clearfix"></div>
	           </div>
		<div  id="wrapper" ng-repeat="prescription in currentPatient.prescriptions | filter:mainFlt">
			 <form name="testForm2" ng-submit="savePrescription(prescription['id'],prescription['surgeryDate'],prescription['injury'],prescription['text'])">
			 <div class="well" ng-keyup="pressed=''" ng-keydown="pressed = $event">
	           
				 <div class="pull-right">
					 <h3 class="m-t-0"><span class="rxDate">{{getDate(prescription['createdAt'])}}</span></h3>
					  <a ng-show="prescription.status==prescription.id"  ng-class="{'btn-danger':pressed.keyCode==91,'btn-default-outline':pressed.keyCode!=91}" class="btn btn-sm  m-t-0 " ng-click="closeSingleBtn(prescription,$index,pressed.keyCode)"><span ng-show="pressed.keyCode!=91">close</span><span ng-show="pressed.keyCode==91">delete</span></a>
					  <a ng-show="prescription['exercises'].length >0" ng-hide="prescription.status==prescription.id || prescription['exercises'].length ==0" ng-class="{'btn-danger':pressed.keyCode==91,'btn-default-outline':pressed.keyCode!=91}" class="btn btn-sm  m-t-0 " ng-click="archiveBtn(prescription,false,$index,pressed.keyCode)"><span ng-show="pressed.keyCode!=91">archive</span><span ng-show="pressed.keyCode==91">delete</span></a>
					 <button ng-disabled="testForm2.$invalid" ng-hide="prescription['exercises'].length >0" ng-class="{'btn-primary-outline':action=='saveAs','btn-primary':action=='save' }" type="submit" class="btn btn-sm w-full m-t-0 ">save</button>
					 <a  ng-show="prescription['exercises'].length >0" ng-class="{'btn-primary-outline':action=='saveAs','btn-primary':action=='save' }" ng-click="saveSaveAs(prescription);" class="btn btn-sm btn-primary-outline m-t-0 ">{{actionLabel}}</a>
					
				 </div>
			
			   
			        <H3 ng-click="console.log(prescription['injury'])" type="text" contenteditable name="email" ng-model="prescription['injury']" ui-validate="'isEmpty($value)'" > </h3>
			            
       
	   
       <div>
         <span class="label label-default">surgery date</span>
         
      
		 			<input type="hidden" value="false" ng-model="prescription['calOpen']">
					
	               <input ui-validate="'isEmpty($value)'" name="date" class="form-control" type="text" uib-datepicker-popup="{{format}}"  							ng-model="prescription['surgeryDate']"  is-open="prescription['calOpen']"  							datepicker-options="dateOptions"  ng-click="prescription['calOpen']=true"							close-text="Close" />
	         </div>
	           
				 
       <hr>
       <p name="text" contenteditable ng-model="prescription['text']" ui-validate="true">
          
       </p>
			   
			    
				 
			<!-- testForm2.email: {{testForm2.email.$valid}}<br>
			testForm2.date {{testForm2.date.$valid}}<br>
			testForm2.text {{testForm2.text.$valid}}<br>
			testForm2.$valid {{testForm2.$valid}}<br>
			testForm2.$submitted {{testForm2.$submitted}}
				 -->
			
	          </div>
			 </form>     
			   
	           <div class="page-header">
				 
	             <button type="submit" class="btn btn-primary-outline   pull-right" ng-disabled="action=='save'" ng-click="open('lg',prescription)">
	            <span class="icon icon-plus"></span>
	             </button>
	             <h3>
	               Assigned Exercises
	             </h3>
	           </div>
			   <table class="table">
			            <tbody>
							<!-- class="inactive" -->
			              <tr ng-repeat="exercise in prescription['exercises']" >
			                <td>
			                  <h5>
			                    {{exercise['name']}}
			                  </h5>
			                </td>
			                <td>
								<div class="btn-group" uib-dropdown>
									
									<button type="button" class="btn btn-primary-outline p-t-0 p-b-0" uib-dropdown-toggle>
										
										<span >{{exercise['holds']}}</span>
										<span class="caret"></span>
									</button>
									<ul class="uib-dropdown-menu" role="menu" aria-labelledby="split-button">
										<li role="menuitem"><a ng-click="exercise['holds']=0;updateHolds(0,exercise['id']);" href="javascript:event.preventDefault()">0</a></li>
										
										<li role="menuitem"><a ng-click="exercise['holds']=3;updateHolds(3,exercise['id'])" href="javascript:event.preventDefault()">3</a></li>
										
										<li role="menuitem"><a ng-click="exercise['holds']=5;updateHolds(5,exercise['id'])" href="javascript:event.preventDefault()">5</a></li>
										<li role="menuitem"><a ng-click="exercise['holds']=10;updateHolds(10,exercise['id'])" href="javascript:event.preventDefault()">10</a></li>
										
									</ul>
								</div>
			                </td>
			                <td>
							<div class="btn-group" uib-dropdown>
								
								</button><button type="button" class="btn btn-primary-outline p-t-0 p-b-0" uib-dropdown-toggle>
									
									<span class="">{{exercise['reps']}}</span>
									<span class="caret"></span>
								</button>
								<ul class="uib-dropdown-menu" role="menu" aria-labelledby="split-button">
									<li role="menuitem"><a ng-click="exercise['reps']=10;updateReps(10,exercise['id'])" href="javascript:event.preventDefault()">10</a></li>
									<li role="menuitem"><a ng-click="exercise['reps']=15;updateReps(15,exercise['id'])" href="javascript:event.preventDefault()">15</a></li>
									<li role="menuitem"><a ng-click="exercise['reps']=20;updateReps(20,exercise['id'])" href="javascript:event.preventDefault()">20</a></li>
									
								</ul>
							</div>
			                </td>
			                <td>
							<div class="btn-group" uib-dropdown>
								
								</button><button type="button" class="btn btn-primary-outline p-t-0 p-b-0" uib-dropdown-toggle>
									
									<span class="" ng-show="exercise['weeks']<52">{{exercise['weeks']}}</span>
									<span class="" ng-show="exercise['weeks']==52">forever</span>
									<span class="caret"></span>
								</button>
								<ul class="uib-dropdown-menu" role="menu" aria-labelledby="split-button">
									
									<li role="menuitem"><a ng-click="exercise['weeks']=2;updateWeeks(2,exercise['id'])" href="javascript:event.preventDefault()">2</a></li>
									
									<li role="menuitem"><a ng-click="exercise['weeks']=4;updateWeeks(4,exercise['id'])" href="javascript:event.preventDefault()">4</a></li>
									
									<li role="menuitem"><a ng-click="exercise['weeks']=6;updateWeeks(6,exercise['id'])" href="javascript:event.preventDefault()">6</a></li>
									
									<li role="menuitem"><a ng-click="exercise['weeks']=8;updateWeeks(8,exercise['id'])" href="javascript:event.preventDefault()">8</a></li>
									<li role="menuitem"><a ng-click="exercise['weeks']=52;updateWeeks(52,exercise['id'])" href="javascript:event.preventDefault()">forever</a></li>
								</ul>
							</div>
			                </td>
			                <td class="p-t-0">
			                 
			                    <a ng-click="prescription['exercises'].splice($index,1);removeEx(exercise['id'])" class=" btn btn-danger-outline pull-right btn-xs"><span>delete</span></a>
			                  
			                </td>
			              </tr>
			             
			            </tbody>
			            <thead>
			              <tr>
			                <th>
			                  <br>
			                </th>
			                <th>
			                  Holds
			                </th>
			                <th>
			                  Reps
			                </th>
			                <th>
			                  Weeks
			                </th>
			                <th>
			                  <br>
			                </th>
			              </tr>
			            </thead>
				</table>
		</div>
		</div>
     
    <div class="col-md-3">
		<div class="panel panel-default m-b-md hidden-xs">
			<div class="panel-body">
				<button ng-click="newPrescription()" class="btn btn-primary-outline m-t-0 w-full" >New Prescription</button>
				
				
			</div>
		</div>
		<div class="panel panel-default m-b-md hidden-xs">
        <div class="panel-body">
        <h5 class="m-t-0">Patient History</h5>
        <ul class="media-list media-list-stream">
          <li class="media m-b"  ng-repeat="prescription in currentPatient.prescriptions | filter:{'active':false}">
            <div class="media-body">
				<address>
					<strong>{{prescription['injury']}}</strong> <br/>
					<span class="icon icon-calendar lg"></span> {{prescription['createdAt']}}<br/>
            	</address>
              <div class="media-body-actions">
                <button ng-click="openSingle(prescription)" class="btn btn-primary-outline btn-sm">
                 Open</button>
              </div>
            </div>
          </li>
          
        </ul>
        </div>
        
      </div>
        <div class="panel panel-default">
          <div class="panel-body">
          © 2015 ividex corp.
          </div>
      </div>
</div>
</div>
