  <script type="text/ng-template" id="myModalContent.html">
          <div class="modal-header">
              <h3 class="modal-title">Select a Therapy Area or a Protocol</h3>
          </div>
          <div class="modal-body">
			  <uib-tabset justified="true">
			  <uib-tab heading="Therapy Areas">
			  <ul>
                  <li ng-repeat="item in items">
                      <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
                  </li>
              </ul>
              Selected: <b>{{ selected.item }}</b>
			  
			  </uib-tab>
			  <uib-tab heading="Protocols">
			  </uib-tab>
		  	</uib-tabset>
			  
			  
          </div>
          <div class="modal-footer">
              <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
              <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
          </div>
      </script>



	  
	  <div class="row">
    <div class="col-md-3">

      <div class="list-group m-b-md">
        <a href="rx.html" class="list-group-item active">
          <span class="icon icon-chevron-thin-right pull-right"></span>
          prescriptions
        </a>
        <a href="ex.html" class="list-group-item">
          <span class="icon icon-chevron-thin-right pull-right"></span>
          exercises
        </a>
        <a href="pr.html" class="list-group-item">
          <span class="icon icon-chevron-thin-right pull-right"></span>
          protocols
        </a>
      </div>

      
    </div>

   
	    <div class="col-md6 col-md-6" style="display: block;">
	           <div class="page-header m-t-0">
	             <h1>
	               Alexis Goldsmith
	             </h1>
	             <span class="label label-primary">alexis@gmail.com</span>
	           </div>
	           <div class="well">
	             <div class="pull-right">
					 <span class="badge ">23 Logins</span> <br/><span style="font-style:italic;">since</span> <h3 class="m-t-0"><span class="rxDate">10/28/2015</span></h3>
				 </div>
	             <h3>
	               torn ligament
	             </h3>
	             <div>
	               <span class="label label-default">surgery date</span>
	               07/15/2015
	             </div>
	             <hr>
	             <p>
	               prescription text
	             </p>
	           </div>
	           <div class="page-header">
				 
	             <button type="submit" class="btn btn-primary  pull-right" ng-click="open('lg')">
	             <span class="icon icon-plus"></span>  
	             </button>
	             <h3>
	               Assigned Exercises
	             </h3>
	           </div>
			   <table class="table">
			            <tbody>
			              <tr>
			                <td>
			                  <h5>
			                    Exercise Name Row 2
			                  </h5>
			                </td>
			                <td>
								<div class="btn-group" uib-dropdown>
									<button id="split-button" type="button" class="btn btn-primary-outline p-t-0 p-b-0">1</button><button type="button" class="btn btn-primary-outline p-t-0 p-b-0" uib-dropdown-toggle>
										<span class="caret"></span>
										<span class="sr-only">1</span>
									</button>
									<ul class="uib-dropdown-menu" role="menu" aria-labelledby="split-button">
										<li role="menuitem"><a href="#">1</a></li>
										<li role="menuitem"><a href="#">2</a></li>
										<li role="menuitem"><a href="#">3</a></li>
										<li role="menuitem"><a href="#">4</a></li>
										<li role="menuitem"><a href="#">5</a></li>
										<li role="menuitem"><a href="#">6</a></li>
										<li role="menuitem"><a href="#">7</a></li>
										<li role="menuitem"><a href="#">8</a></li>
										<li role="menuitem"><a href="#">9</a></li>
									</ul>
								</div>
			                </td>
			                <td>
							<div class="btn-group" uib-dropdown>
								<button id="split-button" type="button" class="btn btn-primary-outline p-t-0 p-b-0">1</button><button type="button" class="btn btn-primary-outline p-t-0 p-b-0" uib-dropdown-toggle>
									<span class="caret"></span>
									<span class="sr-only">1</span>
								</button>
								<ul class="uib-dropdown-menu" role="menu" aria-labelledby="split-button">
									<li role="menuitem"><a href="#">1</a></li>
									<li role="menuitem"><a href="#">2</a></li>
									<li role="menuitem"><a href="#">3</a></li>
									<li role="menuitem"><a href="#">4</a></li>
									<li role="menuitem"><a href="#">5</a></li>
									<li role="menuitem"><a href="#">6</a></li>
									<li role="menuitem"><a href="#">7</a></li>
									<li role="menuitem"><a href="#">8</a></li>
									<li role="menuitem"><a href="#">9</a></li>
								</ul>
							</div>
			                </td>
			                <td>
							<div class="btn-group" uib-dropdown>
								<button id="split-button" type="button" class="btn btn-primary-outline p-t-0 p-b-0">1</button><button type="button" class="btn btn-primary-outline p-t-0 p-b-0" uib-dropdown-toggle>
									<span class="caret"></span>
									<span class="sr-only">1</span>
								</button>
								<ul class="uib-dropdown-menu" role="menu" aria-labelledby="split-button">
									<li role="menuitem"><a href="#">1</a></li>
									<li role="menuitem"><a href="#">2</a></li>
									<li role="menuitem"><a href="#">3</a></li>
									<li role="menuitem"><a href="#">4</a></li>
									<li role="menuitem"><a href="#">5</a></li>
									<li role="menuitem"><a href="#">6</a></li>
									<li role="menuitem"><a href="#">7</a></li>
									<li role="menuitem"><a href="#">8</a></li>
									<li role="menuitem"><a href="#">9</a></li>
								</ul>
							</div>
			                </td>
			                <td class="p-t-0">
			                 
			                    <a class=" btn btn-danger-outline pull-right btn-xs"><span>remove</span></a>
			                  
			                </td>
			              </tr>
			              <tr>
			                <td>
			                  <h5>
			                    Exercise Name Row 2
			                  </h5>
			                </td>
			                <td>
								<div class="btn-group" uib-dropdown>
									<button id="split-button" type="button" class="btn btn-primary-outline p-t-0 p-b-0">1</button><button type="button" class="btn btn-primary-outline p-t-0 p-b-0" uib-dropdown-toggle>
										<span class="caret"></span>
										<span class="sr-only">1</span>
									</button>
									<ul class="uib-dropdown-menu" role="menu" aria-labelledby="split-button">
										<li role="menuitem"><a href="#">1</a></li>
										<li role="menuitem"><a href="#">2</a></li>
										<li role="menuitem"><a href="#">3</a></li>
										<li role="menuitem"><a href="#">4</a></li>
										<li role="menuitem"><a href="#">5</a></li>
										<li role="menuitem"><a href="#">6</a></li>
										<li role="menuitem"><a href="#">7</a></li>
										<li role="menuitem"><a href="#">8</a></li>
										<li role="menuitem"><a href="#">9</a></li>
									</ul>
								</div>
			                </td>
			                <td>
							<div class="btn-group" uib-dropdown>
								<button id="split-button" type="button" class="btn btn-primary-outline p-t-0 p-b-0">1</button><button type="button" class="btn btn-primary-outline p-t-0 p-b-0" uib-dropdown-toggle>
									<span class="caret"></span>
									<span class="sr-only">1</span>
								</button>
								<ul class="uib-dropdown-menu" role="menu" aria-labelledby="split-button">
									<li role="menuitem"><a href="#">1</a></li>
									<li role="menuitem"><a href="#">2</a></li>
									<li role="menuitem"><a href="#">3</a></li>
									<li role="menuitem"><a href="#">4</a></li>
									<li role="menuitem"><a href="#">5</a></li>
									<li role="menuitem"><a href="#">6</a></li>
									<li role="menuitem"><a href="#">7</a></li>
									<li role="menuitem"><a href="#">8</a></li>
									<li role="menuitem"><a href="#">9</a></li>
								</ul>
							</div>
			                </td>
			                <td>
							<div class="btn-group" uib-dropdown>
								<button id="split-button" type="button" class="btn btn-primary-outline p-t-0 p-b-0">1</button><button type="button" class="btn btn-primary-outline p-t-0 p-b-0" uib-dropdown-toggle>
									<span class="caret"></span>
									<span class="sr-only">1</span>
								</button>
								<ul class="uib-dropdown-menu" role="menu" aria-labelledby="split-button">
									<li role="menuitem"><a href="#">1</a></li>
									<li role="menuitem"><a href="#">2</a></li>
									<li role="menuitem"><a href="#">3</a></li>
									<li role="menuitem"><a href="#">4</a></li>
									<li role="menuitem"><a href="#">5</a></li>
									<li role="menuitem"><a href="#">6</a></li>
									<li role="menuitem"><a href="#">7</a></li>
									<li role="menuitem"><a href="#">8</a></li>
									<li role="menuitem"><a href="#">9</a></li>
								</ul>
							</div>
			                </td>
			                <td class="p-t-0">
			                 
			                    <a class=" btn btn-danger-outline pull-right btn-xs"><span>remove</span></a>
			                  
			                </td>
			              </tr>
			              <tr>
			                <td>
			                  <h5>
			                    Exercise Name Row 2
			                  </h5>
			                </td>
			                <td>
							<div class="btn-group" uib-dropdown>
								<button id="split-button" type="button" class="btn btn-primary-outline p-t-0 p-b-0">1</button><button type="button" class="btn btn-primary-outline p-t-0 p-b-0" uib-dropdown-toggle>
									<span class="caret"></span>
									<span class="sr-only">1</span>
								</button>
								<ul class="uib-dropdown-menu" role="menu" aria-labelledby="split-button">
									<li role="menuitem"><a href="#">1</a></li>
									<li role="menuitem"><a href="#">2</a></li>
									<li role="menuitem"><a href="#">3</a></li>
									<li role="menuitem"><a href="#">4</a></li>
									<li role="menuitem"><a href="#">5</a></li>
									<li role="menuitem"><a href="#">6</a></li>
									<li role="menuitem"><a href="#">7</a></li>
									<li role="menuitem"><a href="#">8</a></li>
									<li role="menuitem"><a href="#">9</a></li>
								</ul>
							</div>
			                </td>
			                <td>
							<div class="btn-group" uib-dropdown>
								<button id="split-button" type="button" class="btn btn-primary-outline p-t-0 p-b-0">1</button><button type="button" class="btn btn-primary-outline p-t-0 p-b-0" uib-dropdown-toggle>
									<span class="caret"></span>
									<span class="sr-only">1</span>
								</button>
								<ul class="uib-dropdown-menu" role="menu" aria-labelledby="split-button">
									<li role="menuitem"><a href="#">1</a></li>
									<li role="menuitem"><a href="#">2</a></li>
									<li role="menuitem"><a href="#">3</a></li>
									<li role="menuitem"><a href="#">4</a></li>
									<li role="menuitem"><a href="#">5</a></li>
									<li role="menuitem"><a href="#">6</a></li>
									<li role="menuitem"><a href="#">7</a></li>
									<li role="menuitem"><a href="#">8</a></li>
									<li role="menuitem"><a href="#">9</a></li>
								</ul>
							</div>
			                </td>
			                <td>
							<div class="btn-group" uib-dropdown>
								<button id="split-button" type="button" class="btn btn-primary-outline p-t-0 p-b-0">1</button><button type="button" class="btn btn-primary-outline p-t-0 p-b-0" uib-dropdown-toggle>
									<span class="caret"></span>
									<span class="sr-only">1</span>
								</button>
								<ul class="uib-dropdown-menu" role="menu" aria-labelledby="split-button">
									<li role="menuitem"><a href="#">1</a></li>
									<li role="menuitem"><a href="#">2</a></li>
									<li role="menuitem"><a href="#">3</a></li>
									<li role="menuitem"><a href="#">4</a></li>
									<li role="menuitem"><a href="#">5</a></li>
									<li role="menuitem"><a href="#">6</a></li>
									<li role="menuitem"><a href="#">7</a></li>
									<li role="menuitem"><a href="#">8</a></li>
									<li role="menuitem"><a href="#">9</a></li>
								</ul>
							</div>
			                </td>
			                <td class="p-t-0">
			                 
			                    <a class=" btn btn-danger-outline pull-right btn-xs"><span>remove</span></a>
			                  
			                </td>
			              </tr>
			              <tr>
			                <td>
			                  <h5>
			                    Exercise Name Row 2
			                  </h5>
			                </td>
			                <td>
								<div class="btn-group" uib-dropdown>
									<button id="split-button" type="button" class="btn btn-primary-outline p-t-0 p-b-0">1</button><button type="button" class="btn btn-primary-outline p-t-0 p-b-0" uib-dropdown-toggle>
										<span class="caret"></span>
										<span class="sr-only">1</span>
									</button>
									<ul class="uib-dropdown-menu" role="menu" aria-labelledby="split-button">
										<li role="menuitem"><a href="#">1</a></li>
										<li role="menuitem"><a href="#">2</a></li>
										<li role="menuitem"><a href="#">3</a></li>
										<li role="menuitem"><a href="#">4</a></li>
										<li role="menuitem"><a href="#">5</a></li>
										<li role="menuitem"><a href="#">6</a></li>
										<li role="menuitem"><a href="#">7</a></li>
										<li role="menuitem"><a href="#">8</a></li>
										<li role="menuitem"><a href="#">9</a></li>
									</ul>
								</div>
							
			                </td>
			                <td>
							<div class="btn-group" uib-dropdown>
								<button id="split-button" type="button" class="btn btn-primary-outline p-t-0 p-b-0">1</button><button type="button" class="btn btn-primary-outline p-t-0 p-b-0" uib-dropdown-toggle>
									<span class="caret"></span>
									<span class="sr-only">1</span>
								</button>
								<ul class="uib-dropdown-menu" role="menu" aria-labelledby="split-button">
									<li role="menuitem"><a href="#">1</a></li>
									<li role="menuitem"><a href="#">2</a></li>
									<li role="menuitem"><a href="#">3</a></li>
									<li role="menuitem"><a href="#">4</a></li>
									<li role="menuitem"><a href="#">5</a></li>
									<li role="menuitem"><a href="#">6</a></li>
									<li role="menuitem"><a href="#">7</a></li>
									<li role="menuitem"><a href="#">8</a></li>
									<li role="menuitem"><a href="#">9</a></li>
								</ul>
							</div>
			                </td>
			                <td>
							<div class="btn-group" uib-dropdown>
								<button id="split-button" type="button" class="btn btn-primary-outline p-t-0 p-b-0">1</button><button type="button" class="btn btn-primary-outline p-t-0 p-b-0" uib-dropdown-toggle>
									<span class="caret"></span>
									<span class="sr-only">1</span>
								</button>
								<ul class="uib-dropdown-menu" role="menu" aria-labelledby="split-button">
									<li role="menuitem"><a href="#">1</a></li>
									<li role="menuitem"><a href="#">2</a></li>
									<li role="menuitem"><a href="#">3</a></li>
									<li role="menuitem"><a href="#">4</a></li>
									<li role="menuitem"><a href="#">5</a></li>
									<li role="menuitem"><a href="#">6</a></li>
									<li role="menuitem"><a href="#">7</a></li>
									<li role="menuitem"><a href="#">8</a></li>
									<li role="menuitem"><a href="#">9</a></li>
								</ul>
							</div>
			                </td>
			                <td class="p-t-0">
			                 
			                    <a class=" btn btn-danger-outline pull-right btn-xs"><span>remove</span></a>
			                  
			                </td>
			              </tr>
			            </tbody>
			            <thead>
			              <tr>
			                <th>
			                  <br>
			                </th>
			                <th>
			                  Holds
			                </th>
			                <th>
			                  Reps
			                </th>
			                <th>
			                  Weeks
			                </th>
			                <th>
			                  <br>
			                </th>
			              </tr>
			            </thead>
				</table>
		</div>
     
    <div class="col-md-3">
		<div class="panel panel-default m-b-md hidden-xs">
			<div class="panel-body">
				<a class=" btn btn-danger m-t-0 w-full">Archive</a><hr/>
				<a class="btn btn-primary m-t-0 w-full">Save as protocol</a>
			</div>
		</div>
		<div class="panel panel-default m-b-md hidden-xs">
        <div class="panel-body">
        <h5 class="m-t-0">Patient History</h5>
        <ul class="media-list media-list-stream">
          <li class="media m-b">
            <div class="media-body">
				<address>
					<strong>hip replacement</strong> <br/>
					<span class="icon icon-calendar lg"></span> 3/15/2014<br/>
            	</address>
              <div class="media-body-actions">
                <button class="btn btn-primary-outline btn-sm">
                 Open</button>
              </div>
            </div>
          </li>
          
        </ul>
        </div>
        
      </div>
        <div class="panel panel-default">
          <div class="panel-body">
          © 2015 ividex corp.
          </div>
      </div>
</div>
</div>
