		
		   
		  <div class="modal-header">
              <h3 class="modal-title">Assign Exercises</h3>
          </div>
          <div class="modal-body">
			<uib-accordion close-others="true">
  
			    <uib-accordion-group heading="{{ item['name'] }}" ng-repeat="item in items">
				  <ul class="areas p-t-md">
	                  <li ng-repeat="video in item.videos">
	                      <a href="#" ng-click="$event.preventDefault(); add(video)">{{ video['title'] }}</a>
	                  </li>
	              </ul>
			    </uib-accordion-group>
  
  
			  </uib-accordion>
			  
			  
          </div>
          <div class="modal-footer">
              
              <button class="btn btn-default-outline" type="button" ng-click="cancel()">close</button>
			  
          </div>