



	  
	  <div class="row">
    <div class="col-md-3">

      <div class="list-group m-b-md">
        <a href="#/main" class="list-group-item ">
          <span class="icon icon-chevron-thin-right pull-right"></span>
          prescriptions
        </a>
        <a href="#/protocols" class="list-group-item ">
          <span class="icon icon-chevron-thin-right pull-right"></span>
          protocols
        </a>
        <a ui-sref="videos" class="list-group-item" ng-class="{ active: $state.includes('videos') }">
          <span class="icon icon-chevron-thin-right pull-right"></span>
          videos
        </a>
        <a href="#/tips" class="list-group-item active">
          <span class="icon icon-chevron-thin-right pull-right"></span>
          tips
        </a>
        <a ui-sref="links" class="list-group-item" ng-class="{ active: $state.includes('links') }" >
          <span class="icon icon-chevron-thin-right pull-right"></span>
          links
        </a>
      </div>
      
    </div>

   
	    <div class="col-md6 col-md-6" style="display: block;">
			
	           <div class="page-header m-t-0">
	             <h1>
	               Tips
	             </h1>
	             
	           </div>
		<div id="wrapper" ng-repeat="tip in tips">
	           
	           <div class="page-header">
				 
	             
	            <span class="icon primary icon-check pull-left m-r m-t" ng-show="tip.tipTypes[0]['name']=='active'"></span>
			 <ul class="nav nav-pills pull-left m-t m-r" ng-show="tip.tipTypes.length==0">
			 	<li>
			 		 <a ng-click="setActiveTip(tip,$index)" >set active</a>
			 	</li>
				<li ng-show="pressed.keyCode==91">
					<a ng-click="deleteTip(tip,$index)" class="btn btn-danger-outline" >delete</a>
				</li>
			 </ul>
	             <h3 ng-keyup="pressed=''" ng-keydown="pressed = $event" class="pull-left" ng-model="tip['title']" contenteditable></h3> 
				
				
				 <div class="clearfix"></div>
	           </div>
			   <p contenteditable ng-model="tip['body']" ng-class="{'open':tip['open'], 'closed':!tip['open']}"></p>
			   <span class="pull-right"><a ng-click="expand($index)">[ more ]</a></span>
			   <button ng-show="changed"  class="btn btn-xs btn-primary pull-right m-r" ng-click="saveTip(tip,changed,$index)">save</button> 
		</div>
		</div>
     
    <div class="col-md-3">
		<div class="panel panel-default m-b-md hidden-xs">
			<div class="panel-body">
				<a ng-click="addTip()" class="btn btn-primary m-t-0 w-full">Add Tip</a>
				
				
			</div>
		</div>
		
        <div class="panel panel-default">
          <div class="panel-body">
          © 2015 ividex corp.
          </div>
      </div>
</div>
</div>
