



	  
	  <div class="row">
    <div class="col-md-3">

      <div class="list-group m-b-md">
        <a href="#/main" class="list-group-item ">
          <span class="icon icon-chevron-thin-right pull-right"></span>
          prescriptions
        </a>
        <a href="#/protocols" class="list-group-item ">
          <span class="icon icon-chevron-thin-right pull-right"></span>
          protocols
        </a>
        <a href="#/videos" class="list-group-item active">
          <span class="icon icon-chevron-thin-right pull-right"></span>
          videos
        </a>
        <a ui-sref="tips" class="list-group-item" ng-class="{ active: $state.includes('tips') }" >
          <span class="icon icon-chevron-thin-right pull-right"></span>
          tips
        </a>
        <a ui-sref="links" class="list-group-item" ng-class="{ active: $state.includes('links') }" >
          <span class="icon icon-chevron-thin-right pull-right"></span>
          links
        </a>
      </div>
      
    </div>

   
	    <div class="col-md6 col-md-6" style="display: block;">
			
	           <div class="page-header m-t-0">
	             <h1>
	               Video Library
	             </h1>
	             
	           </div>
		<div id="wrapper">
	           
	          
			   <table class="table">
			            <tbody>
							<!-- class="inactive" -->
			              <tr ng-repeat="video in videos | orderBy: 'title'" >
			                
			                <td>
								{{video['title']}}
			                </td>
			                <td>
							{{video['url']}}
			                </td>
			                <td>
							<p ng-bind-html="video['description']"></p>
			                </td>
			                
			              </tr>
			             
			            </tbody>
			            <thead>
			              <tr>
			                
			                <th>
			                  Title
			                </th>
			                <th>
			                  VimeoID
			                </th>
			                <th>
			                  Description
			                </th>
			               
			              </tr>
			            </thead>
				</table>
		</div>
		</div>
     
    <div class="col-md-3">
		
		
        <div class="panel panel-default">
          <div class="panel-body">
          © 2015 ividex corp.
          </div>
      </div>
</div>
</div>
