



	  
	  <div class="row">
    <div class="col-md-3">

      <div class="list-group m-b-md">
        <a href="#/main" class="list-group-item ">
          <span class="icon icon-chevron-thin-right pull-right"></span>
          prescriptions
        </a>
        <a href="#/protocols" class="list-group-item ">
          <span class="icon icon-chevron-thin-right pull-right"></span>
          protocols
        </a>
        <a href="#/videos" class="list-group-item active">
          <span class="icon icon-chevron-thin-right pull-right"></span>
          videos
        </a>
        <a href="#/tips" class="list-group-item">
          <span class="icon icon-chevron-thin-right pull-right"></span>
          tips
        </a>
        <a href="#/links" class="list-group-item">
          <span class="icon icon-chevron-thin-right pull-right"></span>
          links
        </a>
      </div>
      
    </div>

   
	    <div class="col-md6 col-md-6" style="display: block;">
			
	           <div class="page-header m-t-0">
	             <h1>
	               Video Library
	             </h1>
	             
	           </div>
		<div id="wrapper">
	           
	           <div class="page-header" style="display:none">
				 
	             <button type="submit" class="btn btn-primary-outline   pull-right" ng-click="open('lg')">
	            <span class="icon icon-add-to-list"></span>
	             </button>
	             <h3>
	               Assigned Exercises
	             </h3>
	           </div>
			   <table class="table">
			            <tbody>
							<!-- class="inactive" -->
			              <tr  >
			                
			                <td>
								Name
			                </td>
			                <td>
							VIMEOID
			                </td>
			                <td>
							Description
			                </td>
			                
			              </tr>
			             
			            </tbody>
			            <thead>
			              <tr>
			                
			                <th>
			                  Title
			                </th>
			                <th>
			                  VimeoID
			                </th>
			                <th>
			                  Description
			                </th>
			               
			              </tr>
			            </thead>
				</table>
		</div>
		</div>
     
    <div class="col-md-3">
		
		
        <div class="panel panel-default">
          <div class="panel-body">
          © 2015 ividex corp.
          </div>
      </div>
</div>
</div>
